<footer class="footer">
    <button class="footer__button">
      <a href="#hero"><img src="./assets/images/ico-arrow.svg"></a>
    </button> 

    <div class="container">
      <div class="footer__box">

        <article class="articles">
          <ul>
            <li class="article article1">
              <a href="https://adalab.es/">Articles</a>
            </li>

            <li class="article article2">
              <a href="https://adalab.es/">Books</a>
            </li>

            <li class="article article3">
              <a href="https://adalab.es/">Events</a>
            </li>

            <li class="article article4">
              <a href="https://adalab.es/">Reasons</a>
            </li>

            <li class="article article5">
              <a href="https://adalab.es/">Tips</a>
            </li>
          </ul>

        </article>

            <nav class="twitter">
            <ul>
              <li class="twitter twitter1">
              <a href="https://adalab.es/">Twitter</a>
              </li>

              <li class="twitter twitter2">
              <a href="https://adalab.es/">Instagram</a>
              </li>

              <li class="twitter twitter3">
              <a href="https://adalab.es/">Mastodon Social</a>
             </li>
            </ul>
          </nav>
          
            <div class="copy">
              <small>&copy;2017</small>
              <small>we❤️components</small>
            </div>
           
    </div>
</div>
</footer>
