<footer class="footer">
    <button class="footer__button">
      <img src="./assets/images/ico-arrow.svg">
    </button> 

    <div class="container">
      <div class="footer__box">

        <article class="articles">

            <div class="article article1">
              <a href="https://adalab.es/">Articles</a>
            </div>

            <div class="article article2">
              <a href="https://adalab.es/">Books</a>
            </div>

            <div class="article article3">
              <a href="https://adalab.es/">Events</a>
            </div>

            <div class="article article4">
              <a href="https://adalab.es/">Reasons</a>
            </div>

            <div class="article article5">
              <a href="https://adalab.es/">Tips</a>
            </div>

        </article>

          <nav class="twitter">

            <div class="twitter twitter1">
              <a href="https://adalab.es/">Twitter</a>
            </div>

            <div class="twitter twitter2">
              <a href="https://adalab.es/">Twitter</a>
            </div>

            <div class="twitter twitter3">
              <a href="https://adalab.es/">Twitter</a>
            </div>

          </nav>
          
            <div class="copy">
              <small>&copy;2017</small>
              <small>we &#9829 components</small>
            </div>
           
    </div>
</div>
</footer>
