<div class="hero" id="hero" role="banner">
    
    <div class="elements">
        <h1 class="elements--title">
            Anonymous <br> Proxy
        </h1>
            <p class="elements--p">
            In hac habitasse platea dictumst
            </p>
                <button class="elements--button__circle" aria-label="Go down">
                    <a title="Go to section reasons" href="#reasons"><img alt="principal banner" title="principal banner"src="./assets/images/ico-scroll-down.svg"></a>
                </button>
    </div>
</div>