<main class="main">
  <div class="container">
    <div class="tips">
        <small class="tips--small">
          Insomnia Tips
        </small>
          <h2 class="tips--title">
          Looking Through A<br> Window
          </h2>
             <p class="tips--p">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, tempore cum. Eligendi, nulla asperiores neque ducimus laboriosam sunt minus nesciunt.
             </p>
             <div class="box-button">
              <button class="tips--button">
                Go
              </button>
            </div>
          </div>
    </div>
</main>
