<section class="reasons">
    <div class="container">
            <div class="box">
                <h2 class="reasons__title">
                    3 Reasons To Purchase
                </h2>

                    <div class="box--items">
                        <div class="item item_1">
                            <p class="title title_1">
                             <strong>Ut sed metus</strong>
                            </p>
                                <p class="subtitle subtitle_1">
                                Lorem ipsum dolor sit<br> amet, consecutor.
                            </p>
                    </div>

                    <div class="item item_2">
                        <p class="title title_2">
                            <strong>Ut sed metus</strong>
                        </p>
                            <p class="subtitle__subtitle2">
                            Lorem ipsum dolor sit<br> amet, consecutor.
                        </p>
                    </div>
                <div class="item item_3">
                    <p class="title title_3">
                        <strong>Ut sed metus</strong>
                    </p>
                        <p class="subtitle subtitle_3">
                        Lorem ipsum dolor sit<br> amet, consecutor.
                    </p>
                </div>
                    <div class="box_button">
                        <button class="button-orange">More reasons</button>
                    </div>
                    </div>
                    </div>
   </section>