<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>🙀Evaluación final</title>
    <link rel="icon" href="./favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>

  <body>
    <div class="wrapped">
      <partial src="_header.html" title="Header"></partial>
      <partial src="_hero.html" label="Hero"></partial>
      <partial src="_main.html" label="Main"></partial>
      <partial src="_reasons.html" label="Reasons"></partial>
      <partial src="_footer.html" label="Footer"></partial>
    </div>
  </body>

</html>
