.footer{
    background-color: $ColorBackgroundFooter;
    position:relative;
        @include forTablet{
            height:45%;
            @include forPC{
                height:35%;
        }
        }

    .footer__button{
        @include buttonSymbols;
        position:absolute;
        left:50.3%;
        margin-left:-25px;
        top:-35px;
    }
    .footer__box{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        color:white;
        @include forTablet{
            flex-direction: row;
            text-align:left;
            justify-content: space-around;
            
            
            
        }
            .articles{
                margin-top: 60px;
                margin-bottom:20px;
                text-transform: uppercase;
                @include forTablet{
                    
                    order:2;
                }
                    @include forPC{
                        margin-left:40px;
                        margin-right:40px;
                    }
            }
    }
}


.articles{
    .article{
        padding:5px;
    
    a{
        color:white;
}
}
}

.twitters{
    @include forTablet{
        order:3;
}
}
.twitter{
    text-transform: uppercase;
    margin-bottom:8%;
        a{
            color:white;
        }
}
.copy{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom:45px;
    @include forTablet{
        justify-content: left;
        align-items: flex-start;
        order:1;
        
    }
    small{
        padding:5px;
    }
}
