.footer{
    background-color: $ColorBackgroundFooter;
    position:relative;

    .footer__button{
        @include buttonSymbols;
        position:absolute;
        left:50.3%;
        margin-left:-25px;
        top:-35px;
    }
    .footer__box{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        color:white;
        @include forTablet{
            flex-direction: row-reverse;
            text-align:left;
        }
            .articles{
                margin-top: 60px;
                margin-bottom:10%;
                text-transform: uppercase;
                @include forTablet{
                    margin-top: 45px;
                    margin-bottom: 45px;
                }
            }
    }
}
.articles{
    margin-top:8%;
    .article{
        padding:5px;
    }
    a{
        color:white;
    }
}
.twitter{
    text-transform: uppercase;
    margin-bottom:8%;
        a{
            color:white;
        }
}
.copy{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom:45px;
    @include forTablet{
        justify-content: left;
        align-items: flex-start;
    }
    small{
        padding:5px;
    }
}
