.footer{
    background-color: $ColorBackgroundFooter;
    position:relative;
    .footer__button{
        @include buttonSymbols;
        position:absolute;
        left:50%;
        margin-left:-25px;
        top:-20%;
    }
}
