.header{
    width:100%;
    position:fixed;
    top:0px;
    z-index:2;
   
    .menu--square{
        width:40px;
        height:40px;
        background-color:$ColorButtonHeader;
        z-index:2;
        display:flex;
        justify-content: center;
        position:fixed;
        z-index:2;
        top:0px;
        left:0px;
    }
}