.hero{
    height:100vh;
    background-image: url(../images/cover.jpg);
    background-position: top;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    position: relative;

    
    .elements{
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position:absolute;
        top:60%;

        color:$ColorTitle;
        &--title{
            text-transform: uppercase;
            padding:20px;
            font-size: $FontSizeTitle;
        }
        &--p{
            font-size:$FontSizeSubtitleHero;
        }
        &--button__circle{
            width: 45px;
            height: 45px;
            border-radius: 22.5px;
            background-color: white;
            color:$ColorButtonGeneral;
            display:flex;
            justify-content: center;
            align-items:center;
            margin-top: 5%;
            margin-bottom:5%;
        }
    }
}