.hero{
    background-image: url(../images/cover.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    position: relative;
    height:100vh;
    @include forTablet{
        height:72vh;
    }

    
    .elements{
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom:175px;
        
        @include forTablet{
            margin-bottom:40px;
        }
        @include forPC{
            margin-bottom:13px;
        }


        color:$ColorTitle;
        &--title{
            line-height: 55px;
            font-family: 'Roboto Slab';
            text-transform: uppercase;
            margin-bottom:10px;
            
            font-size: $FontSizeTitle;
                @include forTablet{
                    font-size:$FontSizeTitleHero;
                    line-height: 106px;
                    margin-bottom:20px;
                        @include forPC{
                            font-size:$FontSizeTitleHeroPC;
                            line-height: 132px;
                        }
            }
        }
        &--p{
            font-size:$FontSizeSubtitleHero;
            @include forTablet{
                    font-size: $FontSizeSubtitle;
        }
    }
        &--button__circle{
            width: 45px;
            height: 45px;
            border-radius: 22.5px;
            background-color: white;
            color:$ColorButtonGeneral;
            display:flex;
            justify-content: center;
            align-items:center;
            margin-top:40px;
        }
    }
}