.main{
margin-top:5%;

    .tips{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
        &--small{
            color:$colorSmall;
            padding-bottom: 3%;
            margin-top:30px;
                @include forPC{
                    margin-top:60px;
                }
        }
        &--title{
            padding-bottom:6%;
            font-size: $FontSizeSubtitle;
            font-family:$FontFamilyTitle;
            font-weight: bold;
            margin-right:20%;
                @include forTablet{
                    padding-bottom:4%;
        }
    }
        &--p{
           line-height: 2;
           font-size: $FontSizeGeneral;
           padding-bottom: 45px;
           color:$colorMain;
                @include forTablet{
                    line-height:1.5;
                    padding-bottom: 40px;
                }
            }
        &--button{
            width: 76px;
            height: 45px;
            border-radius: 22.5px;
            background-color:transparent;
            border: solid 2px $ColorButtonGeneral;
            color:$ColorButtonGeneral;
            @include forTablet{
                width: 96px;
            }
                @include forPC{
                    width:128px;
            }
                    &:hover{
                        background-color: $ColorButtonGeneral;
                        color:white;
                    }
        }
            }
        }
    