.reasons{
    background-color:$ColorBAckgroundReasons;
    margin-top: 50px;
    position:relative;
}
    .box{
    padding-top:30px;

        .reasons__title{
            font-size: $FontSizeSubtitle;
            text-align:center;
            margin-bottom:10%;
            font-weight: bold;

        }
    }
.box--items{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 0.5fr;
    text-align: center;
    grid-gap:6%;
    justify-content: center;
}
.item{
       padding:10px;
       strong{
           font-weight: bold;
       }
}
.subtitle{
        padding-top:10px;
    }
.button-orange{
  @include  buttonOrange;
  font-size: $FontSizeButton;
  margin-top:10px;
  &:hover{
      color:$ColorButtonGeneral;
      background-color: white;
  }
}

/* @media all and (min-width:760px){
    .box--items{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:1fr 1fr 1fr;
    }
}
 */