body{
    font-family: $FontFamilyGeneral;
    font-size:$FontSizeGeneral
}
.container{
    padding-left:15px;
    padding-right:15px;
        @include forTablet{
    padding-left:40px;
    padding-right:40px;

            @include forPC{
                padding-left:275px;
                padding-right:275px;
            }
    }
}
.container-reasons{
    margin-left:70px;
    margin-right:70px;
        @include forTablet{
            margin-left:40px;
            margin-right:40px;
}
}