@mixin buttonOrangeM(){
    height: 45px;
    width:184px;
    border-radius: 22.5px;
    background-color:$ColorButtonGeneral;
    color:white;
  }
  @mixin buttonOrangeT(){
    height: 45px;
    width:210px;
    border-radius: 22.5px;
    background-color:$ColorButtonGeneral;
    color:white;
  }
  @mixin buttonOrangePC(){
    height: 45px;
    width:255px;
    border-radius: 22.5px;
    background-color:$ColorButtonGeneral;
    color:white;
  }


  @mixin buttonSymbols(){
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    background-color: white;
    color:$ColorButtonGeneral;
    margin:15px;
  }

  @mixin forTablet {
    @media all and (min-width:$tablet){
      @content
    }
  }

  @mixin forPC {
    @media all and (min-width:$PC){
      @content
    }
  }